* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  :global(.ant-card) {
    background-color: #1890ff;

    .header {
      height: 20px;
      line-height: 20px;
      width: 100%;
      font-size: 24px;
      color: #ffffff;

      .rightText {
        float: right;
        font-size: 16px;

        .hrefText {
          display: inline-block;
          margin-left: 10px;
          color: orange;
        }
      }
    }
  }

  .order_content {
    margin: 40px;
    border: 1px solid rgb(229, 229, 229);
    padding: 20px;

    .order_map {
      height: 500px;
    }

    .order_items {
      margin: 30px 20px 30px 50px;

      .order_title {
        font-size: 20px;
        color: rgb(171, 171, 171);
      }

      .order_title_border {
        border-top: 1px solid rgb(229, 229, 229);
        padding-top: 20px;
        font-size: 20px;
        color: rgb(171, 171, 171);
      }

      .item_list {
        margin: 20px 20px 20px 100px;
        font-size: 16px;

        li {
          overflow: hidden;
          margin-top: 10px;

          .detail_form_left {
            float: left;
            color: rgb(171, 171, 171);
          }

          .detail_form_content {
            float: left;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
